<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  
  RewriteCond %{REQUEST_FILENAME} \.(gif|jpg|jpeg|png)$
  #如果是图片,使用img模块来缩略
  RewriteRule ^(.*)$ index.php/Admin/Public/img/?pic=$1&t=1 [QSA,PT,L]
  #如果是图片,使用img模块来缩略
</IfModule>